#temperature {
  float: left;
  text-shadow: 2px 2px #6E655C;
  }

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #D4CBC1;
  color: #6E655C;
}

#changesTemperature {
  height: 40px;
  margin-top: -25px;
  margin-left: 73px;
}

#temperature {
  margin-left: 60px;
  margin-right: auto;
  width: 1.5em
}

#reset {
  margin-left: 60px;
  margin-right: auto;
  width: 10em;
  background-color: #6E655C;
  color: #D4CBC1;
  border-radius: 25px;
  font-size: 13px;
  outline: none;
}

#temp {
  font-size: 45px;
}

#powerSave {
  font-size: 23px;
  margin-left: 20px;
}

#powerSaveMode {
  font-size: 25px;
  margin-top: 30px;
}

#thermostat {
  position: fixed;
  left: 43%;
  top: 32%;
  width: 50em;
  height: 50em;
}

#up {
  border-radius: 25px;
  font-size: 25px;
  width: 40px;
  outline: none;
}

#down {
  border-radius: 25px;
  font-size: 25px;
  width: 40px;
  outline: none;
}
